<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AndroidApp"
        android:icon="@mipmap/ic_launcher"
        android:label="TODOs"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".AppActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:mimeType="text/plain" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:pathPattern=".*\\.tds" />
                <data android:pathPattern=".*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.tds" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.tds" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:pathPattern=".*" />
                <data android:pathPattern=".*\\.*" />
                <data android:pathPattern=".*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>